%h1 Seznam cestovatelů

%table.nice
  %thead
    %tr
      %th Uživatel
      %th Počet navštívených měst
      %th
  %tbody
    - User.all.each do |u|
      %tr
        %td= u.username
        %td
          = u.n_true_visited
          = surround '(', ')' do
            = u.n_visited
        %td
          = link_to "[seznam]", user_path(u)
          = link_to "[mapa]", map_user_path(u)
          = link_to "[album]", album_user_path(u)