<% if instagram_user %>
  <div id="box">
    Navštíveno <%= Town.fully_visited_by(instagram_user.username).size.size %> 
    (<%= Town.visited_by(instagram_user.username).size.size %>) 
    z <%= Town.count %> měst
  </div>
<% end %>

<div id="box_menu">
  <ul>
    <li style="font-weight:bold"><span style="color:#f00">URBORETUM</span></li>
    <% if instagram_user %>
      <li><%= instagram_user.username %></li>
      <li><%= link_to 'načíst', fetch_path %></li>
      <li><%= link_to 'odhlásit', logout_path %></li>
    <% else %>
      <li><%= link_to "přihlásit", connect_path %></li>
    <% end %>
  </ul>
</div>

<%= render :partial => 'towns_js' %>