- if instagram_user
  %div#box= render :partial => 'box'

%div#box_menu
  %ul
    %li(style="font-weight:bold")= link_to "URBORETUM", info_path, :style => "color:#f00"
    - if instagram_user
      %li= instagram_user.username
      %li= link_to 'načíst', fetch_path
      %li= link_to 'odhlásit', logout_path
    - else
      %li= link_to "přihlásit", connect_path

= render :partial => 'towns_js', :locals => {:username => instagram_user && instagram_user.username}